<style>
    button{
        width: 120px;
    }
</style>
<div class="container">
    <h1>Administracion de ingresos</h1>
 
    <br>
    <div class="col-sm">
        <table class="table table-sm">
            <thead>
                <td>Id</td>
                <td>Identificacion</td>
                <td>Nombres</td>
                <td>Telefono</td>
                <td>Direccion</td>
                <td>Fecha</td>
                <td>Modificar</td>
                <td>Eliminar</td>
            </thead>
    
            <tbody>
                <tr *ngFor="let item of ListaUsuario">
                    <td> {{ item.id }}</td>
                    <td> {{ item.identificacion }}</td>
                    <td> {{ item.nombres }}</td>
                    <td> {{ item.telefono }}</td>
                    <td> {{ item.direccion }}</td>
                    <td> {{ item.created_at }}</td>
                    <td><button type="button" class="btn btn-primary" (click)="cargarParaModificarUsuario(item.identificacion)">Modificar</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="eliminarUsuario(item.identificacion)" >Eliminar</button></td>
                    <td><button type="button" class="btn btn-warning" (click)="redireccionarIngresos(item.identificacion)" >Ver Ingresos</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class=" btn btn-success" (click)="nuevoBtnClick()" *ngIf="EsFormularioVisible==false && EsModificacion==false" >Nuevo</button>
    <button type="button" class=" btn btn-danger" (click)="cancelarBtnClick()" *ngIf="EsFormularioVisible==true" >Cancelar</button>
    <!-- <td><button (click)="EsNuevo = true" *ngIf="!EsNuevo" >Nuevo</button></td> -->
    <hr>

    <!-- cuando la varaiblae EsFormularioVisible sea igual a true -->
    <div *ngIf="EsFormularioVisible==true"  id="NuevoOEdicionVisitante">
        <h3 *ngIf="(EsNuevo==true)">Nuevo Visitante e Ingreso</h3>
        <h3 *ngIf="(EsModificacion==true)">Modificacion de Vistante</h3>
        <div>
            <div class="input-group mb-3" *ngIf="EsIdentificacionVisible">
                <input [(ngModel)]="usuario.identificacion" type="number" class="form-control"
                 placeholder="Identificacion" aria-label="Identificacion" 
                 aria-describedby="basic-addon1" maxlength="10">
            </div>

            <div class="input-group mb-3">
                <input [(ngModel)]="usuario.nombres" type="text" class="form-control"
                 placeholder="Nombres" aria-label="Nombres" 
                 aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <input [(ngModel)]="usuario.telefono" type="text" class="form-control"
                 placeholder="Telefono" aria-label="telefono" 
                 aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input [(ngModel)]="usuario.direccion" type="text" class="form-control"
                 placeholder="Direccion" aria-label="direccion" 
                 aria-describedby="basic-addon1">
            </div> 

            <div class="input-group mb-3">
                <select [(ngModel)]="usuario.id_servicio" class="form-control">
                    <option value="">Seleccione un servicio ...</option>
                    <option *ngFor="let item of ListaServiciosClinica"
                        value="{{item.id_servicio}}">
                        {{item.nombre}}
                    </option>
                </select>
            </div> 

            <div>
                <p>En caso de tener un paciente internado llene los siguientes campos</p>
                <div class="input-group mb-3">
                    <input [(ngModel)]="usuario.id_paciente_admision" type="text" class="form-control"
                     placeholder="id admision del paciente" aria-label="id_paciente_admision" 
                     aria-describedby="basic-addon1">
                </div> 
                <div class="input-group mb-3" >
                    <input [(ngModel)]="usuario.identificacion_familiar" type="text" class="form-control"
                     placeholder="identificacion del familiar" aria-label="identificacion_familiar" 
                     aria-describedby="basic-addon1">
                </div> 
                <div class="input-group mb-3">
                    <input [(ngModel)]="usuario.nombre_familiar" type="text" class="form-control"
                     placeholder="nombre del familiar" aria-label="nombre_familiar" 
                     aria-describedby="basic-addon1">
                </div> 
            </div>
            
            <button type="button" class="btn btn-primary" (click)="crearUsuario()" *ngIf="EsModificacion == false">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="modificarUsuario()" *ngIf="EsModificacion == true">Actualizar</button>

        </div>

    </div>



</div>